<ng-container *ngIf="!appData">
  <div class="full-height">
    <div class="align-middle">
      <div class="loader"></div>
      <div class="margin-top-20">
        <h3>Please wait while data is being loaded...</h3>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="appData">
  <div class="row app-container">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-align-end">
      <button type="button" name="button" class="btn btn-primary inc-font-size" (click)="udpateAppData()">Update App Data</button>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="container-box">
        <div class="card" *ngFor="let item of appData">
          <a [href]="'./appdetails?pkg=' + item.appId"  target="_blank"><img [src]="item.icon" [alt]="item.title" width="150" height="150"></a>
          <div class="container">
            <p [title]="item.title">{{item.title}}</p>
            {{item.scoreText}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-align-end" [hidden]="!totalItems">
      <pagination class="inc-font-size" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="3" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</ng-container>
