.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 6px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
}

.app-container {
  background-color: #fbfbfb;
  overflow-x: hidden;
  padding: 15px;
}

.inc-font-size {
  font-size: 14px;
}

.text-align-end {
  text-align: right;
  padding:
}
