<ng-container *ngIf="!appdetails">
  <div class="full-height">
    <div class="align-middle">
      <div class="loader"></div>
      <div class="margin-top-20">
        <h3>Please wait while data is being loaded...</h3>
      </div>
    </div>
  </div>
</ng-container><div class="container" *ngIf="appdetails">
  <div class="app-details-header">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 text-align-center">
        <img [src]="appdetails.icon" alt="appdetails.title" height="200" width="200">
      </div>
      <div class="col-lg-8 col-md-8 col-xs-6 col-sm-6">
        <h3 class="text-align-center">{{appdetails.title}}</h3>
        <p class="app-description" [title]="appdetails.description">{{appdetails.description}}</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="wrapper">
      <div class="slider">
        <div class="slide">
          <ng-container *ngFor="let item of appdetails.screenshots">
            <img [src]="item" height="250" width="175" />
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h3 class="display-inline">Rating</h3>
      <span class="app-rating">{{appdetails.scoreText}}</span>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h3>Comments</h3>
    </div>
    <ng-container *ngFor="let item of appdetails.comments;let idx=index">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h6 class="comments"><b>{{idx + 1 + ' : '}}</b>{{item}}</h6>
      </div>
    </ng-container>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h3>Addtional Info</h3>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
          <h6>Updated</h6>
          <h6 class="comments">{{appdetails.updated | date:'MMM d, y'}}</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
          <h6>Installs</h6>
          <h6 class="comments">{{appdetails.minInstalls || 'N/A'}}+</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
          <h6>Developer's Email</h6>
          <h6 class="comments">{{appdetails.developerEmail || 'N/A'}}</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
          <h6>Developer's Website</h6>
          <h6 class="comments">{{appdetails.developerWebsite || 'N/A'}}</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
          <h6>Developer's Address</h6>
          <h6 class="comments">{{appdetails.developerAddress || 'N/A'}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
