.container {
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.app-details-header {

}

.text-align-center {
  text-align: center;
}

.app-description {
  display: -webkit-box;
  height: 150px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
  font-size: 12px;
  font-family: monospace;
}

.wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 255px;
  position: relative;
  background: #fbfbfb;
  display: flex;
  overflow: hidden;
}
.slide {
  height: 255px;
  display: flex;
  align-items: center;
  animation: slideshow 60s linear infinite;
}
.slide img {
  /* height: 70px; */
  padding: 0 5px;
}
@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
.slider::before, .slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, #fbfbfb 0%, rgba(255,255,255,0) 100%);
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right:0;
  top:0;
  transform: rotateZ(180deg);
}

.comments {
  font-size: 14px;
  font-family: 'Cairo', sans-serif;
}

.app-rating {
  font-size: 18px;
  margin-left: 10px;
}

.display-inline {
  display: inline-block;
}
